/*tablet & mobile*/
@media (max-width: 1023px) {
    .header {
        height: auto;
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
    }
    .header__cart {
        width: 100px;
        text-align: right;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .cart__list {
        position: fixed;
        top: 80px;
        right: 0;
        width: 100%;
        padding: 0 

    }
    .cart__list::before {
        display: none;
    }
    .header__sort-bar {
        display: flex;
    }
    .container {
        margin-top: 100px;
    }
}
/* table */
@media (min-width: 740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
    .footer__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__heading {
        min-width: 160px;
    }
    .policy__item {
        line-height: 1.4;
        text-align: center;
    }
}
/* Mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
    .header__cart {
        width: unset;
        display: block;
        padding: 0 16px;
    }
    .mobile-input:checked ~ .header__search{ 
        display: flex;
    }
    .header__search {
        position: fixed;
        top: 80px;
        right: 0;
        left: 0;
        z-index: 1 ;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        padding: 0 16px;
        animation: mobilesearchSidein ease 0.8s;
        display: none;
    }
    @keyframes mobilesearchSidein {
        from {
            opacity: 0;
            top: 40;
        }
        to {
            opacity: 1;
            top: 80px;
        }
    }
    .header__mobile-search-icon {
        display: block;
    }
    .search__history { 
        position: fixed;
        width: 100%;
        top: calc(80px + 46px);
        
    }
    .header__logo {
        width: unset;
    }
    .header__searchside {
        justify-content: space-between;
    }
    .pagination-item__link {
        min-width: 8px; 
    }
    .app__content {
        margin: 0 5px;
    }
    .footer__download {
        flex-wrap: nowrap;
    }
    .footer__policy {
        display: block;
    }
    .policy__item {
        border-right: none;
        padding: 0;
        line-height: 1.4;
        margin: 5px;
    }
    .footer__companyDetail {
        margin: 32px 5px;
    }
    .mobile-category {
        display: block;
    }
}
